<div >
  <h1>ice_cream type:</h1>
  <h2>a:{{ice_creamlist.a}}
  b:{{ice_creamlist.b}}
  c:{{ice_creamlist.c}}</h2>
  <br/>
  <h1>metal type:</h1>
  breakfast:{{meallist.breakfast}}
  lunch:{{meallist.lunch}}
  dinner:{{meallist.dinner}}
  <br/>
  music type:
  rock:{{music.rock}}
  pop:{{music.pop}}
  classical:{{music.classical}}
  metal:{{music.metal}}
  country:{{music.country}}
  Total People:{{database.length}}
  <br/>
</div>
<!-- <div *ngFor="let element of database">
  ice cream:{{element.ice_cream}}
</div> -->
