<form #theForm='ngForm'>
    Full name:<br/>
    <input name='fullName' type='text' required [(ngModel)]='data.name' #theElement #theName='ngModel'/>
    <span style="color:red" [hidden]='theName.valid || theName.untouched'>Please enter your name</span>
    <br/>
    Email: <br/>
    <input name='email' type='email' required [(ngModel)]='data.email' #theElement #theEmail='ngModel'/>
    <span style="color:red" [hidden]='theEmail.valid || theEmail.untouched'>Please enter your email</span>
    <br/>
    Age:<br/>
    <input name='age' min=10 max=100 type='number' required [(ngModel)]='data.age' #theElement #theAge='ngModel'/>
    <span style="color:red" [hidden]='theAge.valid || theAge.untouched' >Please enter your age
    </span>
    <span style="color: red" [hidden]='data.age>10 && data.age < 100'>(10-100)</span>
    <br/>
    State:<br/>
    <select name='state' required [(ngModel)]='data.state' #theElement #theEmail='ngModel'>
    <option *ngFor="let c of states" [ngValue]="c">{{c}}
    </option>
    </select><br/>
    <br/>
    what is your favorite ice cream:<br/>
    <select name='ice_cream' [(ngModel)]='data.ice_cream'>
    <option *ngFor="let c of icecreams" [ngValue]="c">{{c}}
    </option>
    </select><br/>
    <span [hidden]='data.ice_cream==="a"||data.ice_cream==="b"||data.ice_cream==="c"'>
    Enter the name of ice cream<br/>
    <input type="text" name='ice_cream'  [(ngModel)]= 'data.ice_cream'>
    <br/>
  </span>
    what's your favorite meal<br/>
    <input type='radio' name='meal' [(ngModel)]='data.meal' value='breakfast' />breakfast
    <input type='radio' name='meal' [(ngModel)]='data.meal' value='lunch' />lunch
    <input type='radio' name='meal' [(ngModel)]='data.meal' value='dinner' />dinner
    <br/>
    how many cups of coffee do you drink on average every day: <br/>
    <input name='coffee' type='number'  [(ngModel)]='data.coffee' #theElement #theEmail='ngModel'/>
    <br/>
    what type of music is your favorite music<br/>
    <input type='radio' name='music' [(ngModel)]='data.music' value='rock' />rock
    <input type='radio' name='music' [(ngModel)]='data.music' value='pop' />pop
    <input type='radio' name='music' [(ngModel)]='data.music' value='classical' />classical
    <input type='radio' name='music' [(ngModel)]='data.music' value='metal' />metal
    <input type='radio' name='music' [(ngModel)]='data.music' value='country' />country
    <br/>
    what is your favorite movie: <br/>
    <input name='movie' type='text'  [(ngModel)]='data.movie' #theElement #theEmail='ngModel'/>
    {{data.movie}}
    <br/>
    <span >
      <button name='submit' [disabled]='theForm.invalid' (click)='submitForm()'>Submit</button>
    </span>
    </form>
